/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 
If the above width is causing issues use this in the main img css 

img.oversized {
  max-width: revert;
}
*/


/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-top: 50px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.grid  {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  width: 80%;

}

.grid * {
  border:  2px solid black;
  height: 150px;
  font-size: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.grid *:hover {
  background-color: black;
  color: white;
}

#currentPlayer {
  margin-bottom: 10px;
  font-size: 40px;
  width: 100%;
  text-align: center;
}

#startGame {
  margin: 50px;
  background-color: white;
  border-radius: 10px;
  border: 2px solid black;
  font-size: 30px;
}

#startGame:hover {
  background-color: black;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
}

form * {
  margin-bottom: 10px;
}

input[type=submit] {
  padding: 5px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
}

input[type=submit]:hover {
  background-color: black;
  color: white;
}

label {
  font-size: 20px;
  font-weight: bold;
}

.game-grid, .game-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
